.footer {
  background-color: var(--main-color);
  color: var(--white-color);
  padding: 60px 100px;
}

.footer__nav-list {
  display: grid;
  grid-template-columns: repeat(4, minmax(max-content, 1fr));
  justify-content: space-between;
  gap: 40px;
  margin-bottom: 100px;
}

.footer-nav__subtitle {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.3;
  text-transform: uppercase;
  margin-bottom: 27px;
}

.footer-nav__subtitle svg {
  display: none;
}

.footer-nav__list {
  display: flex;
  flex-direction: column;
  gap: 18px;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
}

.footer__contacts {
  margin-bottom: 70px;
}

.contacts {
  display: flex;
  gap: 40px;
  justify-content: center;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
}

.footer__social {
  margin: 0 auto 70px;
}

.footer__agreement {
  display: block;
  max-width: fit-content;
  margin: 0 auto;
  position: relative;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

.footer__agreement::after {
  content: '';
  position: absolute;
  display: block;
  height: 1px;
  width: 100%;
  left: 0;
  bottom: 2px;
  background-color: var(--white-color);
  transition: background-color 0.3s ease-in-out;
}

.footer-nav__link:hover,
.social__link:hover,
.contacts__link:hover,
.footer__agreement:hover {
  transition: color 0.3s ease-in-out;
  color: var(--fuego-color);
}

.footer__agreement:hover::after {
  background-color: var(--fuego-color);
}

@media (max-width: 1200px) {
  .footer {
    padding-bottom: 72px;
  }
}

@media (max-width: 1000px) {
  .footer {
    padding: 36px 0 58px;
  }

  .footer__nav-list {
    grid-template-columns: repeat(2, minmax(max-content, 1fr));
    gap: 50px;
    margin-bottom: 50px;
  }
}

@media (max-width: 760px) {

  .footer__nav-list {
    gap: 30px;
  }

  .footer-nav__subtitle  {
    font-size: 18px;
  }

  .contacts {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .footer__social {
    margin: 0 auto 40px;
  }

  .footer__agreement {
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    margin: 0 auto;
  }

  .footer__agreement::after {
    background-color: transparent;
  }

  .footer__agreement span {
    position: relative;
    margin: 0 auto;
  }

  .footer__agreement span::after {
    content: '';
    position: absolute;
    display: block;
    height: 1px;
    width: 100%;
    left: 0;
    bottom: 2px;
    background-color: var(--white-color);
  }
}

@media (max-width: 580px) {
  .footer__container {
    max-width: 300px;
  }

  .footer__nav-list {
    display: flex;
    flex-direction: column;
    gap: 30;
    margin-bottom: 40px;
  }

  .footer-nav__list {
    font-size: 14px;
  }

  .footer-nav__subtitle {
    display: flex;
    align-items: flex-start;
    font-size: 16px;
    margin-bottom: 0;
    cursor: pointer;
    transition: margin 0.3s ease-in-out, color 0.3s ease-in-out;
  }

  .footer-nav__subtitle:hover {
    color: var(--fuego-color);
  }

  .footer-nav__subtitle svg {
    display: inline-block;
    margin-top: 5px;
    margin-left: 5px;
    transition: transform 0.3s ease-in-out;
  }
  
  .footer-nav--active .footer-nav__subtitle svg {
    transform: rotate(180deg);
  }

  .footer-nav__list {
    height: 0;
    overflow: hidden;
  }

  .footer-nav--active .footer-nav__list {
    padding-top: 15px;
    height: auto;
  }

  .footer__contacts {
    font-size: 16px;
    margin-bottom: 40px;
  }

  .contacts {
    align-items: start;
  }

  .footer__social {
    margin: 0 0 40px;
  }

  .footer__agreement  {
    margin: 0;
  }

  .footer__agreement span {
    margin: 0;
  }
}