.goods {
  padding: 40px 0 150px;
}

.goods__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 280px);
  gap: 60px 20px;
  justify-content: space-around;
}

@media (max-width: 1000px) {
  .goods__list {
    row-gap: 50px;
  }
}

@media (max-width: 580px) {
  .goods {
    padding: 20px 0 50px;
  }

  .goods__list {
    row-gap: 30px;
  }
}