.nav__list {
  display: flex;
  gap: 60px;
}

.nav__item {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
}

.nav__btn {
  display: none;
  align-items: center;
  background-color: transparent;
  border: none;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
}

.nav__control {
  display: none;
}

@media (max-width: 1000px) {
  .nav {
    position: relative;
    padding: 0 10px;
  }

  .nav__btn {
    display: flex;
    gap: 8px;
  }

  .nav__btn::after {
    content: '';
    display: block;
    width: 14px;
    height: 10px;
    background-image: url("../../img/arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  .nav__list {
    min-width: 100%;
    position: absolute;
    top: 34px;
    left: 0;
    height: 0;
    overflow: hidden;
    flex-direction: column;
    gap: 15px;
    padding: 0 10px;
    background-color: #fff;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
  }

  .nav--active .nav__btn::after {
    transform: rotate(180deg)
  }

  .nav--active .nav__list {
    height: auto;
    padding-bottom: 13px;
  }
}

@media (max-width: 760px) {

  .nav {
    position: static;
  }

  .nav__mobile-wrapper {
    position: absolute;
    display: none;
    top: 80px;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 5;
    padding: 20px 94px;
  }
  .nav--active .nav__mobile-wrapper {
    display: block;
  }

  .nav__control {
    display: flex;
    justify-content: flex-end;
  }

  .nav__list {
    position: static;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  .nav__btn {
    font-size: 0;
    line-height: 0;
    position: relative;
    width: 18px;
    height: 12px;
  }

  .nav__btn-line {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    width: 100%;
    height: 2px;
    transform: translateY(-50%) scale(1);
    background-color: #272727;
    transition: transform 0.3s ease-in-out;
  }

  .nav__btn::before, .nav__btn::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #272727;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  }
  .nav__btn::after {
    top: calc(100% - 2px);
  }
  .nav__btn::before {
    top: 0;
  }

  .nav--active .nav__btn::before {
    top: 50%;
    transform: rotate(45deg);
  }

  .nav--active .nav__btn::after {
    top: 50%;
    transform: rotate(-45deg);
  }

  .nav--active .nav__btn .nav__btn-line {
    transform: translateY(-50%) scale(0);
  }
}

@media (max-width: 580px) {
  .nav__list {
    flex-wrap: wrap;
  }
  
  .nav__item {
    font-size: 14px;
  }
  .nav__mobile-wrapper {
    padding: 20px;
  }
}